<div id="main-ctr">
    <h1>Liste des produits</h1>

    <div id="search-bar">
        <div id="searchButton">
            Mots clés
        </div>
        <input [(ngModel)]="recherche" (ngModelChange)="searchProduct()" id="search-input" type="text" placeholder="Rechercher un produit">
        <div id="addButton" (click)="goAddProduct()">
            Ajouter un produit
        </div>
    </div>


    <div id="imgButton" (click)="toggleImg()">
        <span *ngIf="showImg">Masquer</span>
        <span *ngIf="!showImg">Montrer</span>
    </div>
    <table>
        <tr>
            <td *ngIf="showImg"><b>Image</b></td>
            <td><b>Nom</b></td>
            <td><b>Prix</b></td>
            <td><b>Quantité</b></td>
        </tr>
        <tr id="table-line">
            <td colspan="5"><hr></td>
        </tr>
        <tr *ngFor="let product of filtredProduits" [ngStyle]="{color: product.quantite>0 ? 'black' : 'red'}">
            <td *ngIf="showImg" (click)="goToEdit(product.id)">
                <img id="product-img" [src]="product.image" width="25%">
            </td>
            <td (click)="goToEdit(product.id)">{{product.nom}}</td>
            <td (click)="goToEdit(product.id)">{{product.prix}}</td>
            <td (click)="goToEdit(product.id)" *ngIf="product.quantite>0; else Example">{{product.quantite}}</td>
            <td (click)="deleteById(product.id!)" style="color: grey;">
                supprimer
            </td>
        </tr>
    </table>
</div>

<ng-template #Example >
    <td>
        Hors stock
    </td>
</ng-template>